.searchContainer {
    display: flex;
    align-self: auto;
    flex-direction: column;
    padding: 100px 100px 20px 100px;
}
.serachSubtitle {
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}

.selectInput {
    width: 60%;
    align-self: center;
    margin-top: 50px;
}

.searchTitle {
    font-size: 18px;
}